
.fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-ProfilePageUserInfoBody{
  display: none;
}
.fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo  .fv-footerDisplayPageBody .fv-DisplayPageLoginSignMobile ,.fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo  .fv-footerDisplayPageBody .fv-hideMenu {
  display: none;
}
.fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-footerDisplayPageBody a{
  color: black;
}


@media (max-width: 763px) {

  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo  .fv-footerDisplayPageBody .fv-DisplayPageLoginSignMobile{
    display: block;
  }
  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-footerMenu.fv-footerDisplayPage{
    display: inline;
  }
  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-footerMenu.fv-footerDisplayPage .fv-DisplayPageRotePathMobile{
    margin-right: -9%;
  }
  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-hideMenu{
    display: none;
  }
  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-ProfilePageUserInfoBody {
    display: block;
    margin-bottom: 7%;
  }
  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-ProfilePageLeftBody .fv-ProfilePageUserInfoBody {
    height: 934px;
    margin-top: 0%;
    z-index: 62;
    margin-right: -7%;
    width: 518px;
    margin-left: -4%;
  }

  .fv-footerMenu.fv-footerDisplayPage.fv-DisplayPage.fv-profilePageUserInfo .fv-ProfilePageLeftBody.fv-gustUsersMenu{
    .fv-ProfilePageUserInfoDetailsBodyColumn p {
      font-size: 21px;
    }
     .fv-ProfilePageUserInfoBody {
      height: 143px;
    }
  }
}