$backgroundColorFooter:#C9FFBA;
$colorText:#3EC886;
$selectedColor:#919191;
$unselectedBackground: #F4F4F4;
$unselectedColor:rgba(145, 145, 145, 0.11);
$unselectedTextColor:rgba(145, 145, 145, 0.5);
.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton{
 /* display: flex;
  float: left;
  margin-left: -31%;
  padding: 3.5% 10.8% 3.5% 10.8%;
  border: none;
  font-size: 13px;
  margin-top: 7%;*/
  margin-left: 26%;
  place-content: center;
  color: #15BE29;
  background: #FBFBFB;
  box-shadow: 0px 4px 14px rgba(14, 15, 15, 0.08);
  border-radius: 16px;
}
.fv-HostStep2Page .fv-HostStep1Page .hostStepPage .footerHostStep1Page .hide_desktop{
  display: initial;
}
.fv-HostStep2Page .fv-HostStep1Page .hostStepPage .footerHostStep1Page .hide_mobile{
  display: none;
}
.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButtonBody{
  direction: ltr;
}
.fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {
  display: block;
}
.fv-HostStep2Page .fv-hostStep2PageSelect{
  background-color: #919191;
  border-radius: 22px;
}
.fv-HostStep2Page .hostStepPage .fv-headerHomeImage .fv-hostStep2PageSelectIcon i {
  color: #3EC886;
  background-color: #C9FFBA;
}
.fv-HostStep2Page .hostStepPage .fv-headerHomeImage .fv-hostStep2PageSelectIcon p {
  color: black;
}
.fv-hostStepPage1LeftButton {
  z-index: 1;
  position: relative;
}
.fv-hostStepPage2LeftButton.fv-hostStepPage1LeftButton {
  z-index: 0;
}
.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left.fv-hostStepPageSpace .fv-hostStepPage2LeftButton {
  margin-left: -14%;
}

@media (max-width: 1200px) {
  .fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {
    margin-left: 150%;
    /* padding: 5% 15% 5% 15%; */
    margin-top: -37%;
  }
}
@media (max-width: 767px) {
  .fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {
    display: flex;
    border-radius: 8px;
    margin-left: 2vw;
    /* padding: 5.4% 13.4% 5.4% 13.4%; */
    width: 40vw;
    height: 16vw;
    margin-top: 52vw;
    z-index: 1;
  }
}
@media (max-width: 500px) {
  .fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {

  }
}
@media (max-width: 320px) {
  .fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {

  }
}
@media (max-width: 280px) {
  .fv-HostStep2Page.fv-HostStep2Page .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Left .fv-hostStepPage2LeftButton {

  }
}


