.fv-hostStep3Page .fv-hostStep3PageSelect{
  background-color: #919191;
  border-radius: 22px;
}
.fv-hostStep3Page .hostStepPage .fv-headerHomeImage .fv-hostStep3PageSelectIcon i {
  color: #3EC886;
  background-color: #C9FFBA;
}
.fv-hostStep3Page .hostStepPage .fv-headerHomeImage .fv-hostStep3PageSelectIcon p {
  color: black;
}
.fv-hostStep3Page .fv-HostStep1PageBody{
  display: flex;
}
