.LinksTest a{
  margin-right: 5%;
}
.LinksTest{
  width: 100%;
}
@font-face {
  font-family: "IRANSans";
  src: url("font/fonts/ttf/IRANSansWeb.ttf");
}
body{
  font-family: "IRANSans" !important;
}
.h4, h4 {
  font-size: 1.2rem ;
}

.col-sm-6 {
  width: 50% !important;
}
.col-sm-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667% !important;
}
.col-sm-4 {
  flex: 0 0 33.333333%;
  width: 33.333333% !important;
}
.col-sm-3 {
  flex: 0 0 25%;
  width: 25% !important;
}
.col-sm-2 {
  flex: 0 0 16.666667%;
  width: 16.666667% !important;
}
.col-sm-1 {
  flex: 0 0 8.333333%;
  width: 8.333333% !important;
}
.col-sm-7 {
  flex: 0 0 58.333333%;
  width: 58.333333% !important;
}
.col-sm-8{
  flex: 0 0 58.333333%;
  width: 66.666667% !important;
}
.col-sm-9{
  flex: 0 0 58.333333%;
  width: 75% !important;
}
.col-sm-10 {
  flex: 0 0 83.333333%;
  width: 83.333333% !important;
}
.col-sm-11 {
  flex: 0 0 91.666667%;
  width: 91.666667% !important;
}



.main{
  margin-right: 15px;
  width: 99%;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
  margin-right: auto;
}
.fv-searchMainPage.row {
  margin-top: 1%;
  margin-right: 68%;
  border-radius: 20px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 9px;
  box-shadow: 1px 1px 11px #88888836;
}
.fv-footerMenu{
  direction: rtl;
  /*text-align: -webkit-left;*/
}
.fv-footerMenuImage img{
  width: 100%;
  height: 584px;
  margin-bottom: -40%;
  z-index: -1;
}
.fv-footerMenu .fv-footerMenuLogo image{
  width: 20px;
  height: 23px;
}
.fv-searchMainPage{
  color: black;
  background-color: white;
  width: 25%;
}
.fv-searchMainPage button, .fv-searchMainPage input {
  width: 100%;
  line-height: 54px;
  margin-top: 3%;
  padding-right: 9px;
  border: 1px solid #88888836;
  border-radius: 15px;
  box-shadow: 0px 1px 1px #88888836;
}
.fv-searchMainPageDateOut, .fv-searchMainPageDateReturn{
  margin-top: 1.5%;
}
.fv-searchMainPage.fv-searchMainPageDateReturn input,.fv-searchMainPage.fv-searchMainPageDateOut input{
  width: 150%;
  margin-right: -13%;
}
.fv-searchMainPage p {
  padding-top: 2%;
}
.fv-searchMainPage .fv-searchMainPageSearchButton {
  width: 50%;
  float: left;
  background: #15BE29;
  color: white;
  margin-top: 7%;
}
.fv-topicFirstMainPage{
  padding-top: 10%;
}
.fv-topicFirstMainPage a  , .fv-topicMainPage a{
  padding-top: 10%;
  color: black;
}
.fv-searchMainPageTopic{
  color: white;
  /* width: 84%; */
  padding-top: 4%;
  font-size: 32px;
  margin-bottom: -6%;
  text-align: initial;
  font-weight: 400;
  padding-right: 16%;
}
.fv-footerMenu .fv-footerMenuRibbon{
  box-shadow: inset -125em -3em 3em rgb(255 255 255 / 45%), 0 0 24px 2px rgb(255 255 255), 0.3em 0.3em 1em rgb(37 13 13 / 0%);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 0%;
  font-size: 20px;
  padding-right: 5%;
  padding-left: 3%;
  color: white;
}
.fv-footerMenu .fv-footerMenuRibbon .fv-hideButtonRegister , .fv-footerMenu .fv-footerMenuRibbonMobile .fv-hideButtonRegister , .fv-menuMobileLoginHide{
  display: none;
}
.fv-footerMenuRibbonButton input, .fv-footerMenuRibbonButton button{
  /* width: 63%; */
  /* float: left; */
  background: #919191;
  color: white;
  margin-top: 2%;
  padding: 13px;
  border: none;
  margin-left: -35%;
  /* padding-bottom: 8%; */
  text-align: center;
  border-radius: 15px;
}
.fv-footerMenuRibbon img{
  /* width: 152px; */
  /* height: 152px; */
  /* padding: 0; */
  /* margin: 0; */
  /* margin: -34px; */
  margin-top: -24px;
  margin-bottom: -70px;
}
.fv-footerMenuImage{
  height: 0;
}




.fv-aboutUs , .fv-commentsTitle{
  text-align: end;
  padding-top: 7%;
}
.fv-aboutUsFirstImage {
  /* margin-left: 1%; */
  /* margin-top: 1%; */
  border-radius: 15px;
  width: 250px;
  height: 261px;
  margin-right: -13px;
}
.fv-aboutUsSecondImage {
  /* padding-left: 1%; */
  /* padding-top: 1%; */
  margin-left: 1%;
  border-radius: 15px;
  width: 264px;
  height: 261px;
  margin-left: -7px;
}
.fv-aboutUsThirdImage {
  margin-top: -4%;
  border-radius: 15px;
  width: 193px;
  height: 277px;
  margin-top: 3%;
  border-radius: 15px;
  width: 193px;
  height: 277px;
  margin-right: 43px;
}
.fv-aboutUsFourthImage {
  /* padding-left: 1%; */
  /* padding-top: 1%; */
  margin-top: 3%;
  margin-left: -26%;
  border-radius: 15px;
  width: 318px;
  height: 304px;
}
.fv-aboutUs h1 , .fv-aboutUs p{
  padding-top: 14%;
  padding-left: 9%;
}
.fv-aboutUs .col-md-12{
  text-align: initial;
  padding-left: 0;
}





.fv-comment .col-md-5{
  padding-top: 3%;
  margin-right: 20px;
  background: white;
  text-align: end;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 2%;
  border-radius: 9px;
  border: 1px solid #88888826;
  box-shadow: 1px 1px 11px #88888847;
  /* position: relative; */
  /* width: 100%; */
  /* height: 60px; */
  /* top: 0; */
  /* right: -68px; */
  left: 6%;

}
.fv-commentLeft .col-md-5{
  margin-right: 10%;
}


.fv-commentSvgLeft , .fv-commentSvgRight{
  content: "";
  margin-left: 24%;
  right: -46px;
  top: calc(50% - 7.5px);
  transform: rotate(
          45deg
  );
  border-top: -1px solid #ffffff;
  /* border-right: 20px solid #6bb927; */
  /* border-radius: 0 4px 0 0; */
  width: 22px;
  height: 22px;
  background-color: white;
  z-index: 200;
  /* border: 1px solid #6bb927; */
  margin-top: -1%;
  border-bottom: 3px solid #88888826;
  border-right: 4px solid #88888826;
}
.fv-commentSvgRight{
  margin-left: 70%;
  margin-top: -2%;
}


.fv-gustComment .col-md-6{
  text-align: center;
  margin-right: -3%;
  margin-left: -2%;
}
.fv-gustComment{
  margin-top: 1%;
}


.fv-svgPagination .col-md-12 {
  text-align: center;
  padding-right: 4%;
  padding-top: 4%;
}
.fv-svgPagination img{
  margin-right: 0.2%;
}

.fv-footerMenu .col-md-6{
  padding: 0;
}




.fv-topicMainPageTopic{
  text-align: end;
}
.fv-topicMainPage{
  padding-top: 1%;
}
.fv-topicMainPageSeeAll{
  margin: auto;
  margin-left: -5.5%;
  margin-bottom: 1%;
}
.fv-topicFirstMainPage i ,.fv-topicMainPage i{
  font-size: 22px;
}



.fv-footerMainPage .fv-footerMainPageBigger{
  margin-right: 1vw;
}
.fv-footerMainPage .fv-footerMainPageSmaller{
  margin-right: 1.5vw;
  border-radius: 23px;
  width: 37px;
  height: 37px;
}
.fv-footerMainPage a {
  margin-left: 6%;
  float: right;
}
.fv-footerMenuMobileTitle .col-sm-5 {
  flex: 0 0 46.666667%;
  max-width: 45.666667% !important;
  padding: 0;
}
.fv-footerMainPage{
  padding-top: 20%;
  padding-right: 6%;
  padding-left: 6%;
}
.fv-footerMenu .test{
  display: none;
}


.fv-centerImage img{
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 15px;
  width: 557px;
  height: 264px;
}
.fv-centerImage .col-md-6{
  margin-right: 8px;
  margin-left: -14px;
  margin-top: 2%;
}


.fv-footerMenu .fv-footerMenuRibbonMobile , .fv-footerMenu .fv-displayNoneLogin{
  display: none;
}

.fv-aboutUsImage{
  margin-right: 10%;
}
.fv-aboutUsMobile.row{
  display: none;
}
.fv-footerMenu .fv-searchMainPage [type=button]:not(:disabled), .fv-footerMenu .fv-searchMainPage [type=reset]:not(:disabled),.fv-footerMenu .fv-searchMainPage [type=submit]:not(:disabled),.fv-footerMenu .fv-searchMainPage button:not(:disabled) {
  cursor: pointer;
  margin-left: 0;
  margin-right: auto;
}

.fv-footerMenu .fv-cascadeOptionMainPage {
  background-color: white;
  width: 25%;
  margin-right: 5%;
  text-align: start;
  font-size: 18px;
  align-items: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: block;
}
.fv-footerMenu .fv-cascadeOptionMainPage a{
  color: black;
}
.fv-footerMenu .fv-cascadeOptionMainPage .col-md-12  {
  display: contents;
}
.fv-footerMenu .fv-cascadeOptionMainPage .col-md-12 p{
  display: contents;
  margin: auto;
}
.fv-footerMenu .fv-cascadeOptionMainPage .col-md-12 .fa{
  color: rgba(78, 78, 78, 0.43);
  font-size: 20px;
  margin-right: 5%;
  margin-left: 3%;
}
.fv-footerMenu .fv-cascadeOptionMainPageRowTop{
  background-color: #3EC886;
  width: 25%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: start;
  place-self: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.fv-footerMenu .fv-cascadeOptionMainPageRowTop a{
  color: white;
}
.fv-cascadeOptionMainPageRowTop .col-md-12{
  display: flow-root;
}
.fv-cascadeOptionMainPageEndRadus{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.fv-footerMenu .fv-cascadeOptionMainPageRowTop .col-md-12{
  padding: 0;
}
.fv-footerMenu .fv-cascadeOptionMainPageRowTop img {
  width: 64px;
  margin-right: 19px;
  height: 58px;
  margin-bottom: -33px;
  border-radius: 15px;
}
.fv-textInToCascadeOptionMainPage{
  margin: auto;
  text-align: center;
  color: white;
  margin-right: 5%;
  padding: 0;
  margin-top: -7%;
}
.fv-footerMenu .fv-cascadeOptionMainPageRowTop .col-md-12{
  place-self: center;
}
.fv-footerMenuRibbon  .col-md-2 .fv-userInfoButtonCascade  {
  position: absolute;
  margin-right: -126%;
  width: 110%;
  margin-top: 9%;
}
.fv-footerMenuRibbon .fv-userInfoButtonCascade img {
  margin-top: -53px;
  margin-bottom: -47px;
  margin-left: 5%;
  width: 69px;
  height: 69px;
  border-radius: 15px;
}
.fv-getHostButtonMainPage{
  margin-right: 5%;
}
.fv-containerOptionMainPageRowTop{
  padding: 0;
  margin: 0;
  text-align: end;
  position: absolute;
  z-index: 2;
  margin-top: -1.5%;
}
.main .fv-footerMenu .fv-footerMenuRibbon .col-md-1 a {
  color: white;
}
.fv-footerMenu  .container, .fv-footerMenu  .container-lg, .fv-footerMenu  .container-md,.fv-footerMenu  .container-sm, .fv-footerMenu  .container-xl {
  max-width: 1309px;
}
.fv-footerMenuRibbon .col-md-2 .fv-userInfoButtonCascade {
  color: black ;
}
.fv-cascadeOptionMainPage.fv-cascadeOptionMainPageEndRadus.fv-userInfoButtonCascadeMobile{
  display: none;
}
.fv-HostStep1Page .hostStepPage .footerHostStep1Page .col-md-9 {
  margin-top: 1%;
}
.fv-HostStep2Page .hostStepPage .footerHostStep1Page .col-md-9 {
  margin-top: 4%;
}
.main .fv-mobileMenuGustMainPage {
  display: none;
}
.fv-SearchHomePage .fv-searchMainPage.row [type=button]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row [type=reset]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row [type=submit]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row button:not(:disabled) {
  margin-left: 7%;
}
.fv-footerMenuRibbonMobile .col-sm-8 img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}








.DatePicker__calendarContainer.-top {
  /* font-family: "Roboto",sans-serif; */
  /* font-weight: 300; */
  z-index: 100 !important;
  padding-top: 10px !important;
  margin-top: 100px !important;
  top: 0 !important;
  color: black !important;
}
.DatePicker__calendarContainer.-top .Calendar__header{
  color: var(--cl-color-black) !important;
}
.DatePicker__calendarContainer.-top .Calendar__monthYear.-hiddenNext {
  transform: translateX(-150%);
}
.DatePicker__calendarContainer.-top .Calendar__monthArrowWrapper.-right {
  transform: rotate(
          90deg
  );
}

.Calendar.-rtl .Calendar__monthArrowWrapper.-right {
  transform: rotate(
          90deg
  );
  margin-left: -9%;
  padding: 10px;
  height: 10px;
  width: 60px;
  margin-top: -27px;
  border: none;
  box-shadow: none;
  filter: none;
  margin-right: -12%;
}
.Calendar.-rtl .Calendar__monthArrowWrapper.-left {
  transform: rotate(
          -90deg
  );
  /* margin-left: 17%; */
  height: 80px;
  width: 7px;
  /* margin-top: -20px; */
  border: none;
  top: 0;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  border: none;
  box-shadow: none;
  filter: none;
}
.Calendar > :not(.Calendar__footer) button {
  /* font-family: inherit; */
  background: #ffffff00;
  /* cursor: pointer; */
  /* -webkit-tap-highlight-color: transparent; */
  /* outline: none; */
  border: none;
}

.loader {
  position: relative;
  border-radius: 16px;
  background-color: #15BE29;
  margin-top: 15%;
  width: 195.5px;
  height: 67px;
  margin-left: 7%;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes
rotate {  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@keyframes
rotate {  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-webkit-keyframes
dash {  0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
}
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes
dash {  0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
}
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes
color {  100%, 0% {
  stroke: #d62d20;
}
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

@keyframes
color {  100%, 0% {
  stroke: #d62d20;
}
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}


@media (max-width: 1200px) {
  .fv-centerImage img {
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    width: 106%;
    height: 264px;
  }
  .container, .container-md, .container-sm {
    max-width: 813px;
    margin-right: -4%;
  }


  .MainPage .fv-footerMenuRibbon .fv-userInfoButtonCascade img {
    margin-top: -53px;
    margin-bottom: -47px;
    margin-left: -24%;
    width: 69px;
    height: 69px;
  }
  .MainPage .fv-footerMenuRibbon [type=button]:not(:disabled), .fv-footerMenuRibbon [type=reset]:not(:disabled), .fv-footerMenuRibbon [type=submit]:not(:disabled), .fv-footerMenuRibbon button:not(:disabled) {
    cursor: pointer;
    margin-right: 107%;
  }
  .MainPage .fv-footerMenuRibbon .fv-userInfoButtonCascade img {
    margin-top: -53px;
    margin-bottom: -47px;
    margin-left: 20%;
    width: 69px;
    height: 69px;
    position: absolute;
    margin-right: -53%;
    margin-top: -11%;
  }
  .MainPage .fv-footerMenuRibbon .col-md-2 .fv-userInfoButtonCascade {
    position: absolute;
    margin-right: -38%;
    width: 110%;
    margin-top: 9%;
  }
  .fv-footerMenuRibbon .col-md-1 {
    flex: 0 0 13.333333%;
    max-width: 8.333333%;
    padding: 0;
  }

}

@media (max-width: 1200px) and  (min-width: 768px){
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop .col-md-12 {
    place-self: center;
    font-size: 11px;
  }
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop {
    background-color: #3EC886;
    width: 35%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: start;
    place-self: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .fv-footerMenu .fv-cascadeOptionMainPage {
    background-color: white;
    width: 35%;
    margin-right: 5%;
    text-align: start;
    font-size: 18px;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: block;
  }
  .fv-footerMenu .fv-footerMenuRibbon .col-md-1 {
    /* margin: auto; */
    margin:0;
    margin-left: 2%;
  }
  .fv-footerMenu .fv-footerMenuRibbon .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
    flex: 0 0 57%;
    max-width: 67%;
    z-index: 0;
    margin-right:12%;
  }
  .fv-aboutUs .col-md-6 {
    flex: 0 0 53%;
    max-width: 50%;
    padding-left: 1%;
  }
  .fv-aboutUsThirdImage {
    margin-top: -4%;
    border-radius: 15px;
    width: 193px;
    height: 277px;
    margin-top: 3%;
    border-radius: 15px;
    width: 181px;
    height: 277px;
    margin-right: 43px;
  }
  .fv-aboutUsFirstImage {
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px;
    width: 230px;
    height: 261px;
    margin-right: -10px;
  }
}


@media (max-width: 769px){
  .fv-comment .fv-commentLeft ,  .fv-commentSvgRight , .fv-gustNameAndInfoLeft{
    display: none;
  }
  .fv-gustComment .col-md-6 {
    text-align: center;
    margin-right: 1%;
    margin-left: -2%;
    margin-top: 4%;
  }
  .fv-gustNameAndInfoRight img {
    margin-right: 2%;
  }

  .fv-product .row {
    padding-top: 4%;
    width: 126%;
  }
  .fv-footerMenuRibbon .col-md-9 {
    flex: 0 0 65%;
    max-width: 65%;
  }
  .fv-searchMainPage.row {
    margin-top: 1%;
    width: 42%;
    margin-right: 53%;
    border-radius: 20px;
    padding-right: 17px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 9px;
    box-shadow: 1px 1px 11px #88888836;
  }
  .fv-aboutUsMobile .col-sm-9 {
    flex: 0 0 64%;
    max-width: 75%;
    margin-top: 4%;
  }


  .fv-cascadeOptionMainPage.fv-cascadeOptionMainPageEndRadus.fv-userInfoButtonCascadeMobile{
    display: block;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .fv-footerMenuRibbonMobile .fv-userInfoButtonCascade .col-sm-8 {
    align-self: center;
  }
  .fv-footerMenuRibbonMobile .fv-userInfoButtonCascade img {
    width: 59px;
  }


  .fv-footerMenu .fv-cascadeOptionMainPageRowTop {
    width: 85%;
    padding-top: 6%;
    padding-bottom: 6%;
    border: 1px solid #909090;
  }
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop img {
    width: 69px;
    margin-right: 14px;
  }
  .fv-cascadeOptionMainPage .col-sm-12 {
    display: contents;
  }
  .fv-textInToCascadeOptionMainPage .col-sm-12 p{
    text-align: center;
  }
  .fv-cascadeOptionMainPage .col-sm-12 .fa{
    margin-right: 5%;
    margin-left: 3%;
  }
  .fv-footerMenu .fv-cascadeOptionMainPage p {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .fv-footerMenu .fv-cascadeOptionMainPage {
    background-color: white;
    width: 85%;
    margin-right: 5%;
    text-align: start;
    font-size: 18px;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    display: block;
    border: 1px solid #909090;
  }
  .fv-footerMenu  .container, .fv-footerMenu  .container-lg, .fv-footerMenu  .container-md,.fv-footerMenu  .container-sm, .fv-footerMenu  .container-xl {
    max-width: 1140px;
  }
  .fv-textInToCascadeOptionMainPage {
    font-size: 4vw;
  }



  .fv-aboutUs.row{
    display: none;
  }
  .fv-aboutUsMobile.row{
    display: flex;
  }
  .fv-aboutUsFirstImage {
    /* margin-left: 1%; */
    /* margin-top: 1%; */
    border-radius: 15px;
    width: 100px;
    height: 160px;
    margin-right: -13px;
    margin-bottom: 9%;
  }
  .fv-aboutUsSecondImage {
    /* padding-left: 1%; */
    /* padding-top: 1%; */
    margin-left: 1%;
    border-radius: 15px;
    width: 100px;
    height: 148px;
    /* margin-left: -7px; */
    margin-bottom: 8%;
  }
  .fv-aboutUsThirdImage {
    margin-top: -4%;
    border-radius: 15px;
    width: 193px;
    height: 277px;
    margin-top: 3%;
    border-radius: 15px;
    width: 101px;
    height: 171px;
    margin-right: 43px;
  }
  .fv-aboutUsFourthImage {
    /* padding-left: 1%; */
    /* padding-top: 1%; */
    margin-left: 2%;
    border-radius: 15px;
    width: 92px;
    height: 108px;
    margin-top: 7%;
  }

  .main .fv-mobileMenuGustMainPage {
    z-index: 80;
    width: 51%;
    text-align: initial;
    margin-right: 11px;
    background: white;
    padding-right: 8%;
    border-radius: 15px;
    font-size: 19px;
    position: absolute;
    display: block;
  }
  .main .fv-mobileMenuGustMainPage a{
    color: black;
  }
  .main .fv-mobileMenuGustMainPage .fv-ProfilePageUserInfoDetailsBody{
    margin-top: 5%;
  }
  .main .fv-mobileMenuGustMainPage .fv-ProfilePageUserInfoDetailsBody .fa {
    margin-left: 8%;
  }
  .fv-MainBody .fv-topicMainPage .col-sm-9 {
    flex: 0 0 56.333333%;
    width: 75% !important;
    padding-left: 0;

  }

  .fv-MainBody .fv-topicMainPage .col-sm-3 {
    flex: 0 0 30%;
    width: 25% !important;
  }

}
@media (max-width: 360px){
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop img {
    width: 60px;
    margin-right: 8px;
  }
  .fv-searchMainPage p {
    text-align: initial;
    font-size: 4vw;
  }
  .fv-typesAccommodation.fv-mobileProduct {
    width: 105%;
    direction: ltr;
  }
  .fv-footerMainPageBigger .col-sm-2 {
    flex: 0 0 21.666667%;
    width: 16.666667% !important;
  }

  .fv-footerMainPage a {
    margin-left: -26%;
    float: right;
    /* margin: 4%; */
    margin-top: 7%;
  }
  .fv-mainProduct.fv-mainMobile .fv-productPriceBoxPriceText {
    /* background-color: #aaaaaa; */
    float: right;
    margin-top: -5vw;
    font-size: 14px;
    margin-right: 3vw;
  }
  .fv-MainBody .fv-topicMainPage .col-sm-9 {
    flex: 0 0 49.333333%;
    width: 75% !important;
    padding-left: 0;
  }
  .fv-popularVillageTitle.fv-typesAccommodationTopic.col-11 {
    flex: 0 0 138.666667%;
    max-width: 91.666667%;
  }

}

@media (max-width: 280px){
  .fv-footerMenu .fv-cascadeOptionMainPage .col-sm-8 {
    flex: 0 0 51.333333%;
    width: 42.666667% !important;
    margin-right: 32%;
  }
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop img {
    width: 53px;
    margin-right: 6px;
  }
  .fv-popularVillageTitle.fv-typesAccommodationTopic.col-11 {
    flex: 0 0 141.666667%;
    max-width: 91.666667%;
    margin-top: -4%;
  }

  .fv-aboutUsMobile .col-sm-9 {
    flex: 0 0 55.333333%;
    width: 60.666667% !important;
    text-align: right;
    /* margin: 0; */
    /* padding: 0; */
    margin-left: 3%;
  }

  .fv-topicMainPageTopic h4 {
    font-size: 4.2vw;
    font-weight: 450;
    margin: auto;
  }
  .fv-footerMenu .fv-searchMainPage [type=button]:not(:disabled), .fv-footerMenu .fv-searchMainPage [type=reset]:not(:disabled), .fv-footerMenu .fv-searchMainPage [type=submit]:not(:disabled), .fv-footerMenu .fv-searchMainPage button:not(:disabled) {
    cursor: pointer;
    margin-left: 0;
    margin-right: auto;
    font-size: 4vw;
  }
  .fv-footerMenuMobileTitle {
    font-size: 4vw;
  }
  .fv-footerMenu .fv-cascadeOptionMainPageRowTop .col-md-12 h5 {
    font-size: 5vw;
  }
  .fv-SearchHomePage .fv-searchMainPage.row [type=button]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row [type=reset]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row [type=submit]:not(:disabled), .fv-SearchHomePage .fv-searchMainPage.row button:not(:disabled) {
    margin-left: 2%;
  }

  .fv-mainProduct.fv-mainMobile .fv-productPriceBoxPriceText {
    /* background-color: #aaaaaa; */
    float: right;
    margin-top: -12vw;
    font-size: 14px;
    margin-right: -2vw;
  }

}
