.fv-ProfilePageReservation{

  .fv-ProfilePageLeftBody .fv-ProfilePageUserSetInfo .fv-ProfilePageUserSetInfoButton {
    margin-top: 0%;
  }
  .fv-ProfilePageLeftBody .fv-ProfilePageUserSetInfo {
    border: none;
  }
  .fv-ProfilePageReservationImage{
    text-align: center;
    img{
      width: 35%;
    }
  }
  .fv-ProfilePageLeftBody .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-reservation{
    font-size: 20px;
  }

}
.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageLeftBody .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-reservation {
  font-size: 17PX;
}
.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageLeftBody .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-transaction {
  font-size: 20PX;
}

.fv-MyAccommodationPage.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-transaction {
  font-size: 17PX;
}
.fv-MyAccommodationPage.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-Accomoddation {
  font-size: 20PX;
}

.fv-ProfilePageWallet.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-transaction {
  font-size: 17PX;
}
.fv-ProfilePageWallet.fv-ProfilePageReservation.fv-ProfilePageTransaction .fv-ProfilePageUserInfoDetailsBody .fv-ProfilePageUserInfoDetailsBodyColumn .fv-wallet {
  font-size: 20PX;
}







@media (max-width: 763px) {
  .fv-ProfilePageReservation{

    .fv-ProfilePageLeftBody .fv-ProfilePageUserInfoBody{
      display: none;
    }
    .fv-ProfilePageLeftBody .fv-ProfilePageUserSetInfo {
      margin-top: 0%;
    }
    .fv-ProfilePageReservationImage img {
      width: 100%;
    }
  }
  .fv-ProfilePage .fv-ProfilePageLeftBody .fv-ProfilePageUserSetInfo .fv-ProfilePageUserSetInfoButton input {
    width: 50%;
  }
  .fv-ProfilePageLeftBody .fv-ProfilePageUserSetInfo .fv-ProfilePageUserSetInfoButton {
    margin-top: 0%;
    padding: 0;
  }
}