.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1294px;
}
.fv-footerMenuRibbon{
    box-shadow: none;
}
.fv-SearchHomePage .fv-footerMenuRibbon{
    color: black;
   /* margin-right: -9%;
    margin-left: -9%;*/
}
.fv-SearchHomePage .fv-footerMenuRibbonButton input, .fv-footerMenuRibbonButton button{
    background-color: rgba(102, 212, 72, 0.31);
    color: #3EC886;
}
.fv-searchMainPage.fv-searchMainPageDateReturn input, .fv-searchMainPage.fv-searchMainPageDateOut input {
    width: 145%;
    margin-right: -11%;
}
.fv-searchMainPageBody{
    width: 100%;
}
.fv-searchMainPageBody .fv-searchMainPage.row {
    margin-right: 0%;
    /*border: 1px solid #88888836;*/
    box-shadow: none;
}
.fv-searchMainPageBody .fv-searchMainPage {
    width: 100%;
}
.fv-searchMainPagePrice p {
    margin-top: -6%;
}
.fv-searchMainPagePrice {
    width: 102%;
    margin-right: -1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0%;
    border: 1px solid #88888836;
    border-radius: 15px;
    margin-top: 2%;
    padding-bottom: 5%;
}

.fv-searchMainPageBorder{
    border: 1px solid #88888836;
}
.fv-searchMainPagePrice2 .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 37.666667%;
}
.fv-searchMainPagePriceSecond.fv-searchMainPagePrice p{
    width: 100%;
    text-align: initial;
    margin-right: 4%;
    margin-top: 1%;
}
.fv-SearchHomePageBody .fv-searchMainPagePrice.fv-searchMainPagePriceSecond input[type=checkbox], .fv-SearchHomePageBody .fv-searchMainPagePrice.fv-searchMainPagePriceSecond input[type=radio] {
    width: 6%;
}
.fv-searchMainPagePrice.fv-searchMainPagePriceSecond {
    text-align: start;
}
.fv-searchMainPagesSearchButton{
    background-color: #15BE29;
    color: white;
}
.fv-SortMenu input[type=button]{
    background-color: #15BE29;
    color: #3EC886;
    color: white;
    margin-top: 0%;
    padding: 13px;
    padding-right: 3%;
    margin-left: 1%;
    padding-left: 3%;
    margin-right: 0;
    border: none;
    text-align: start;
    border-radius: 15px;
}
.fv-SortMenu p {
    margin-top: auto;
    margin-bottom: auto;
}
.fv-SortMenu{
    border: 1px solid #88888836;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 98%;
    margin-right: 1%;
    border-radius: 15px;
}
.fv-searchMainPageBodyLeft .fv-mainProduct{
    direction: ltr;
    margin-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
}
.fv-searchMainPageBodyLeft .fv-mainProduct .fv-product{
  margin-bottom: 6%;
  width: 105%;
}
.fv-searchMainPageBodyLeft .fv-mainProduct .fv-product .fv-productCapacityBox{
    font-size: 1vw;
}
.fv-SearchHomePagePagination{
    place-content: center;
}
.fv-SearchHomePagePagination input[type=button]{
    color: #15BE29;
    background-color: white;
    margin-top: 0%;
    padding: 13px;
    padding-right: 3%;
    margin-left: 1%;
    padding-left: 3%;
    margin-right: 0;
    border: 1px solid #15BE29;
    text-align: start;
    border-radius: 15px;
    padding: 0;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
}
.fv-SearchHomePage .fv-searchMainPage.row{
    box-shadow: none;
    padding-top: 0%;
    margin-top: 20%;
}
.fv-searchMainPage{
    margin-bottom: 10%;
}
.fv-SearchHomePageMobileProduct{
    place-content: center;
    text-align:center ;
}
.fv-SearchHomePageMobileProduct .fv-product{
  margin-bottom: 10%;
    padding-right: 3%;
    padding-left: 3%;
}
.fv-SearchHomePageBodyMobile{
    display: none;
}
.fv-SearchHomePageBody{
    display: contents;
}
.fv-productPriceBox a:not([href]):not([tabindex]), .fv-productPriceBox a:not([href]):not([tabindex]):focus, .fv-productPriceBox a:not([href]):not([tabindex]):hover {
    color: #15BE29;
    font-size: 1.5vw;
}
.fv-SearchHomePage .fv-product .fv-productPriceBox .col-md-10 {
    flex: 0 0 98.333333%;
    max-width: 100.333333%;
}
.fv-SearchHomePage .fv-footerMenuRibbon {
    margin-left: -7%;
    margin-right: -7%;
}
.container .fv-footerMainPage {
    padding-top: 20%;
    padding-right: 6%;
    padding-left: 6%;
    margin-left: -7%;
    margin-right: -7%;
}
.fv-footerMenuRibbon .col-md-1 {
    margin: auto;
}


.fv-footerMainPage.fv-footerMenuMobile{
    display: none;
}
@media (max-width: 766px) {
    .fv-SearchHomePageMobileProduct .fv-product .fv-productCapacityBox .col-sm-9 {
        flex: 0 0 41.666667%;
        max-width: 41.666667% !important;
    }
    .fv-SearchHomePageMobileProduct .fv-product .fv-productCapacityBox .col-sm-11 {
        flex: 0 0 41.666667%;
        max-width: 41.666667% !important;
        margin-top: 0%;
    }
    .fv-SearchHomePageMobileProduct .fv-product .fv-productCapacityBox {
        margin-top: 0%;
        font-size: 3vw;
    }
    .fv-SearchHomePageMobileProduct .fv-product .fv-productPriceBoxPriceText {
        float: none;
    }
    .fv-SearchHomePageMobileProduct {
        text-align: inherit;
    }
    .fv-SearchHomePageBodyMobile{
        display: contents;
    }
    .fv-SearchHomePageBody{
        display: none;
    }
    .fv-SearchHomePage .fv-searchMainPage.row {
        box-shadow: none;
        padding: 0;
        padding-top: 0%;
        margin-top: 20%;
        padding-left: 0%;
        font-size: 4vw;
        width: 95%;
    }
    .fv-productPriceBox a:not([href]):not([tabindex]), .fv-productPriceBox a:not([href]):not([tabindex]):focus, .fv-productPriceBox a:not([href]):not([tabindex]):hover {
        font-size: 3.5vw;
    }
    .fv-footerMainPage .fv-footerMainPageSmaller img {
        margin-right: 1.5vw;
        border-radius: 23px;
        width: 30px;
        height: 30px;
    }
    .fv-footerMainPage .fv-footerMainPageBigger {
        margin-right: 0;
        place-content: center;
    }
    .fv-footerMainPage.fv-footerMenuMobile .row a{
        place-content: flex-end;
     }
    .fv-footerMainPage.fv-footerMenus{
    display: none;
    }
    .fv-footerMainPage.fv-footerMenuMobile{
        display: contents;
    }
    .fv-footerMenuMobileTitle {
        place-content: flex-end;
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .fv-footerMainPage .fv-footerMainPageBigger{
        margin-top: 5%;
    }
    .fv-SearchHomePage .fv-searchMainPageLeft.fv-searchMainPage.row {
        padding-left: 23%;
    }


}
